{% extends "base.html" %}

{% block title %}
<title>{{ task.task_type }} Task - {{ task.name }}</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ task.task_type }} Task - {{ task.name }}</h1>
    <div class="btn-toolbar mb-3" role="toolbar">
        <div class="btn-group mr-2" role="group">
            <a href="{% url 'task-update' pk=task.id %}" class="btn btn-primary">Update</a>
        </div>
        <div class="btn-group" role="group">
            <a href="{% url 'task-delete' pk=task.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
    <div class="word-wrap">
        <p><strong>Priority:</strong> {{ task.priority }}</p>
        <p><strong>Complete:</strong> {{ task.is_completed }}</p>
        <div class="w-100">
            <p><strong>Description:</strong> {{ task.description }}</p>
        </div>
        <p><strong>Workers:</strong></p>
    </div>
    {% if assigned_workers %}
    <ul class="list-group ml-3">
        {% for worker in assigned_workers %}
        <li class="list-group-item">
            <a href="{% url 'worker-detail' pk=worker.id %}">
                {{ worker }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="ml-3">
        <p>No workers!</p>
    </div>
    {% endif %}
</div>
{% endblock %}
