{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>Task {{ object.name }} List</h1>
    <div class="btn-toolbar mb-3" role="toolbar">
        <div class="btn-group mr-2" role="group">
            <a href="{% url 'task-create' %}" class="btn btn-primary">Create</a>
        </div>
        <form action="" method="get" class="form-inline">
            {{ search_form|crispy }}
            <button type="submit" class="btn btn-success ml-2">Search</button>
        </form>
    </div>
    {% if task_list %}
    <table class="table">
        <thead>
            <tr>
                <th>Task type</th>
                <th>Name</th>
                <th>Priority</th>
                <th>Deadline</th>
                <th>Complete</th>
                <th>Assignees</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in task_list %}
            <tr>
                <td>{{ task.task_type }}</td>
                <td><a href="{% url 'task-detail' pk=task.id %}">{{ task.name }}</a></td>
                <td>{{ task.priority }}</td>
                <td>{{ task.deadline }}</td>
                <td>{{ task.is_completed }}</td>
                <td>
                    {% if task.assignees.exists %}
                    Assigned
                    {% else %}
                    No Workers
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'task-update' pk=task.id %}" class="btn btn-primary btn-sm">Update</a>
                    <a href="{% url 'task-delete' pk=task.id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>There are no tasks.</p>
    {% endif %}
</div>
{% endblock %}
