{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>Worker List</h1>
    <div class="btn-group mb-3" role="group" aria-label="Worker actions">
        <a href="{% url 'worker-create' %}" class="btn btn-primary">Create</a>
        <form action="" method="get" class="form-inline ml-2">
            {{ search_form|crispy }}
            <button type="submit" class="btn btn-success">Search</button>
        </form>
    </div>

    <div>
        {% if worker_list %}
        <table class="table">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Position</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for worker in worker_list %}
                <tr>
                    <td>
                        <a href="{% url 'worker-detail' pk=worker.id %}">
                            {{ worker.first_name }} {{ worker.last_name }}
                        </a>
                    </td>
                    <td>{{ worker.position }}</td>
                    <td>
                        <a href="{% url 'worker-update' pk=worker.id %}" class="btn btn-primary btn-sm">Update</a>
                    </td>
                    <td>
                        <a href="{% url 'worker-delete' pk=worker.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>There are no workers in manager.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
