{% extends "base.html" %}

{% block content %}
  <h1>
    Worker
    <a href="{% url 'worker-update' pk=worker.id%}" class="btn btn-success">
      Update Worker
    </a>
    <a href="{% url 'worker-delete' pk=worker.id%}" class="btn btn-danger link-to-page">
      Delete Worker
    </a>
  </h1>

  <p><strong>First name:</strong> {{ worker.first_name }}</p>
  <p><strong>Last name:</strong> {{ worker.last_name }}</p>
  <p><strong>Position:</strong> {{ worker.position}}</p>

  <div class="ml-3">
    <h4>Tasks</h4>

    {% for task in tasks %}
        <hr>
        <p><strong>Type:</strong> {{ task.task_type }}</p>
        <p><strong>Name:</strong> {{ task.name }}</p>
        <p><strong>Dead Line:</strong> {{ task.deadline}}</p>
        <p><strong>Priority:</strong> {{ task.priority}}</p>


    {% empty %}
      <p>No Tasks!</p>
    {% endfor %}
  </div>
{% endblock %}
